{% extends 'layout.html' %} {% block body %}
<div class="jumbotron text-center">
  <h1>Welcome To GetOnRent</h1>
  <p class="lead">This application is built on the Python Flask framework.Buy bike,car,furniture etc on rent.</p>
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="{{ url_for('static',filename='bikes/royal-enfield-classific-350.jpg') }}" class="img-responsive center-block" alt="">
      <div class="carousel-caption">
        <h3 style="color: red">Royal Enfield Classic 350</h3>
      </div>
    </div>

    <div class="item">
      <img src="{{ url_for('static',filename='bikes/bajaj-pulsar-150.jpg') }}" class="img-responsive center-block" alt="">
      <div class="carousel-caption">
        <h3 style="color: red">Bajaj Pulsar 150</h3>
      </div>
    </div>

    <div class="item">
      <img src="{{ url_for('static',filename='bikes/honda-activa.jpg') }}" class="img-responsive center-block" alt="">
      <div class="carousel-caption">
        <h3 style="color: red">Honda Activa</h3>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{% endblock %}